In [6]:
import requests

url = "https://wft-geo-db.p.rapidapi.com/v1/geo/cities/Q21194"

headers = {
	"X-RapidAPI-Key": "94e1cf3537mshb395c2b8765d914p1dff7fjsnba7ed4fb8d55",
	"X-RapidAPI-Host": "wft-geo-db.p.rapidapi.com"
}

response = requests.get(url, headers=headers)

print(response.json())

{'data': {'id': 173802, 'wikiDataId': 'Q21194', 'type': 'CITY', 'city': 'Vũng Tàu', 'name': 'Vũng Tàu', 'country': 'Vietnam', 'countryCode': 'VN', 'region': 'Bà Rịa-Vũng Tàu', 'regionCode': '43', 'regionWdId': 'Q36874', 'latitude': 10.41391, 'longitude': 107.13087, 'population': 357124, 'timezone': 'Asia__Ho_Chi_Minh', 'deleted': False}}

In [3]:
import requests

name = 'Hồ Chí Minh'
api_url = 'https://api.api-ninjas.com/v1/city?name={}'.format(name)
response = requests.get(api_url, headers={'X-Api-Key': 'VzSpXwwm2MiA7PX0R0HzpA==JNExnLNSVzbnYzNj'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"name": "Ho Chi Minh City", "latitude": 10.8167, "longitude": 106.633, "country": "VN", "population": 13312000, "is_capital": false}]

In [2]:
import requests

lat = 16.08333
lon = 108.08333
API_key='cb9774016f254a4cb1aa6516bf401afa'
api_url = f'https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API_key}'
response = requests.get(api_url)
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

{"coord":{"lon":108.0833,"lat":16.0833},"weather":[{"id":501,"main":"Rain","description":"moderate rain","icon":"10d"}],"base":"stations","main":{"temp":306.1,"feels_like":311.84,"temp_min":306.1,"temp_max":306.1,"pressure":1003,"humidity":58},"visibility":10000,"wind":{"speed":2.57,"deg":80},"rain":{"1h":1.33},"clouds":{"all":75},"dt":1717049910,"sys":{"type":1,"id":9306,"country":"VN","sunrise":1717020910,"sunset":1717067737},"timezone":25200,"id":1905468,"name":"Thanh Pho GJa Nang","cod":200}

In [ ]:
{'data': 
    {
        'id': 3453217, 
        'wikiDataId': 'Q1854', 
        'type': 'CITY', 
        'city': 'Ho Chi Minh City', 
        'name': 'Ho Chi Minh City', 
        'country': 'Vietnam', 
        'countryCode': 'VN', 
        'region': 'Ho Chi Minh City', 
        'regionCode': 'SG', 
        'regionWdId': 'Q1854', 
        'latitude': 10.82302, 
        'longitude': 106.62965, 
        'population': 9389720, 
        'timezone': 'Asia__Ho_Chi_Minh', 
        'deleted': False
    }
 }

  # is_weather_api_ready = HttpSensor(
  #   task_id = 'is_weather_api_ready',
  #   http_conn_id ='weather_map_api_connection',
  #   endpoint ='/data/2.5/weather?lat=10.762622&lon=106.660172&appid=cb9774016f254a4cb1aa6516bf401afa'
  # )

   # extract_city_data_from_api = SimpleHttpOperator(
  #   task_id = 'extract_city_data_from_api',
  #   http_conn_id = 'city_map_api_connection',
  #   endpoint = '/v1/geo/cities/Q25282',
  #   headers = {
  #     "X-RapidAPI-Key": "94e1cf3537mshb395c2b8765d914p1dff7fjsnba7ed4fb8d55"
  #   },
  #   method = 'GET',
  #   response_filter = lambda response: json.loads(response.text),
  #   log_response = True
  # )


    # extract_weather_data_from_api = SimpleHttpOperator(
  #   task_id = 'extract_data_from_api',
  #   http_conn_id = 'weather_map_api_connection',
  #   endpoint = '/data/2.5/weather?lat=10.762622&lon=106.660172&appid=cb9774016f254a4cb1aa6516bf401afa',
  #   method = 'GET',
  #   response_filter = lambda response: json.loads(response.text),
  #   log_response = True
  # )


  # def delete_file(**kwargs):
  #   ti = kwargs['ti']
  #   is_weather = kwargs['is_weather']
  #   task_ids = kwargs['task_ids']
  #   file_name = ti.xcom_pull(task_ids=f'group_tasks.{task_ids}' if is_weather else f'{task_ids}')['file_name']

  #   os.remove(f'/opt/airflow/data-transformed/{file_name}')

    # delete_file_weather = PythonOperator(
    #   task_id = 'delete_file_weather',
    #   python_callable = delete_file,
    #   op_kwargs = {
    #     'task_ids': 'transform_data_weather_api',
    #     'is_weather': True
    #   }
    # )

In [ ]:
# check_data_city_is_exist = PythonOperator(
    #   task_id = 'check_data_city_is_exist',
    #   python_callable = check_data_city_is_exist
    # )


# def check_data_city_is_exist(**kwargs):
#   ti = kwargs['ti']
#   wiki_id = ti.xcom_pull(task_ids=f'transform_data_city_api')['wiki_id']

#   query = f"SELECT COUNT(*) FROM cities WHERE wiki_id = '{wiki_id}';"
#   hook = PostgresHook(postgres_conn_id='postgres_connection_id')
#   records = hook.get_records(query)
  
#   if records[0][0] >= 1:
#     return f'end_tasks_flow'
#   else:
#     return f'group_tasks.load_csv_city_to_postgres'

In [1]:
import pandas as pd

In [22]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})

In [23]:
courses

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

In [35]:
result = courses.groupby('class', as_index=False).agg(cnt=('class', 'count'))
result

      class  cnt
0   Biology    1
1  Computer    1
2   English    1
3      Math    6

In [37]:
result[result.cnt >= 5][['class']]

  class
3  Math